html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-weight: 100;
}

@font-face {
  font-family: 'profile';
  src: url("../font-awesome/fonts/fontawesome-webfont.eot");
  src: url("../font-awesome/fonts/FontAwesome.otf") format('embedded-opentype'),
       url("../font-awesome/fonts/fontawesome-webfont.woff") format('woff'),
       url("../font-awesome/fonts/fontawesome-webfont.ttf") format('truetype'),
       url("../font-awesome/fonts/fontawesome-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Nav & Menu Button */
.et-nav-v {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  width: 24rem;
  height: 100%;
  background: #111;
  text-align: center;
  -webkit-transition: all 0.45s ease;
     -moz-transition: all 0.45s ease;
      -ms-transition: all 0.45s ease;
       -o-transition: all 0.45s ease;
          transition: all 0.45s ease;
  transform: translateX(24rem);
  font-family: "Segoe UI", "Avenir Next", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
}

.et-nav-title {
  height: 4rem;
  line-height: 4rem;
  font-size: 2.5rem;
  color: #fff;
  font-family: "Segoe UI", "Avenir Next", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
}

.et-nav-v ul {
  position: relative;
  width: 24rem;
  height: 60rem;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}



.et-nav-v ul li a {
  white-space: nowrap;
  padding: 1.5rem 2rem;
  display: block;
  cursor: alias;
  color: #fff;
  text-decoration: none;
}

.et-nav-v ul li:hover a {
  color: #87cceb;
}

#menu-btn {
  z-index: 9999;
  position: fixed;
  top: 3.6rem;
  right: 4.4rem;
  width: 10rem;
  height: 3.4rem;
  line-height: 3.4rem;
  background: #f5f8fa;
  cursor: pointer;
  -webkit-transition: all 0.45s ease;
     -moz-transition: all 0.45s ease;
      -ms-transition: all 0.45s ease;
       -o-transition: all 0.45s ease;
          transition: all 0.45s ease;
}

#menu-btn:hover {
  /*box-shadow: 0px 0px 3px 1px #000;*/
}

#menu-btn span {
  font-family: "Segoe UI", "Avenir Next", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
  position: absolute;
  left: 4.4rem;
  font-size: 1.6rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.nav-opened #menu-btn span {
  left: 3.5rem;
}

.nav-opened .et-nav-v {
  transform: translateX(0);
}

.nav-opened #menu-btn {
  width: 90px;
  transform: translate3d(-15rem, 0, 0);
  background: #000;
  color: #fff;
  border-color: #eee;/*#5599ee*/
}

.nav-opened #menu-btn:hover {
  box-shadow: none;
}

.nav-opened #menu-btn span {
  color: #fff;
}

.nav-opened #menu-btn .bar {
  background-color: #fff;
  right: 10px;
}

.nav-opened #menu-btn .bar:first-child {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.nav-opened #menu-btn .bar {
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
}

.nav-opened #menu-btn .bar:last-child {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.et-menu-button {
  border: solid 1px #000;
  border-radius: 3px;
  color: #9EABB3;
}



.shield,
#sun {
  /*transform: scale(0.3);*/
}


/*#cloud {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 140px;
  height: 84px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTQwcHgiIGhlaWdodD0iODRweCIgdmlld0JveD0iMCAwIDE0MCA4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPlNsaWNlIDE8L3RpdGxlPjxkZXNjcmlwdGlvbj5DcmVhdGVkIHdpdGggU2tldGNoIChodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gpPC9kZXNjcmlwdGlvbj48ZGVmcz48L2RlZnM+PGcgaWQ9IlBhZ2UgMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+PHBhdGggZD0iTTI0LjA1NjUxODksMzMuOTAzNjA0OCBDMjQuNjA1NDQxMSwxNi4yNTU4MDExIDM5LjEwODQ2NDUsMi4xMTc2NDcwNiA1Ni45MTkxOTE5LDIuMTE3NjQ3MDYgQzYxLjYwODAzOCwyLjExNzY0NzA2IDY2LjA2NzY0MTQsMy4wOTc1MDEgNzAuMTAzNzU0Nyw0Ljg2MzI4NzA4IEM3NC4wOTI4MTYsMS44MTI3MjU5OCA3OS4wODE4MzM4LDAgODQuNDk0OTQ5NSwwIEM5NS43MjU5NDc3LDAgMTA1LjEzMTMzNSw3LjgwMzIyNzM4IDEwNy41Njc5NTYsMTguMjc1MTc1NiBDMTE0LjI5NjM3NywyMS4yNzEwNjU0IDExOS4zNjc5MTMsMjcuMzA3MjM5MSAxMjEuMDMwOTI2LDM0LjYzNTAwNDQgQzEzMS45MzEyNzMsMzcuMzY2MTA5MyAxNDAsNDcuMjEyNjc4OCAxNDAsNTguOTQxMTc2NSBDMTQwLDcyLjc4MzgyNTUgMTI4Ljc2MjM5Nyw4NCAxMTQuOTAwMTExLDg0IEwyNS4wOTk4ODg4LDg0IEMxMS4yMzQ4NjExLDg0IDAsNzIuNzgwNzgyNiAwLDU4Ljk0MTE3NjUgQzAsNDUuNDQ3NTM2OCAxMC42NzgwODc4LDM0LjQ0OTYwMDYgMjQuMDU2NTE4OSwzMy45MDM2MDQ4IFogTTI0LjA1NjUxODksMzMuOTAzNjA0OCIgaWQ9IlJlY3RhbmdsZSAxMCBjb3B5IiBmaWxsPSIjRkZGRkZGIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+PC9nPjwvc3ZnPg==) no-repeat center center;
  background-size: 140px 84px;
}*/

/* toggle bar */
.custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0;
  left: 12px;
  display: block;
}

.nav-opened .custom-toggle {
  left: 4px;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
     -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
       -o-transform: translateY(-6px);
          transform: translateY(-6px);
}
.custom-toggle .bar:last-child {
  -webkit-transform: translateY(6px);
     -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
       -o-transform: translateY(6px);
          transform: translateY(6px);
}

.custom-toggle .bar {
  background-color: #000;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 16px;
  right: 15px;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

/* nav-item */
.nav-item {
  display: block;
  border-left: 0 solid transparent;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: border-width 0.5s, border-color 3s, background-image 3s;
     -moz-transition: border-width 0.5s, border-color 3s, background-image 3s;
      -ms-transition: border-width 0.5s, border-color 3s, background-image 3s;
       -o-transition: border-width 0.5s, border-color 3s, background-image 3s;
          transition: border-width 0.5s, border-color 3s, background-image 3s;
}

.nav-item:hover {
  border-left-width: 1.4rem;
  background-color: #222;
}

.nav-item small {
  width: 7rem;
  height: 1.4rem;
  opacity: 0.5;
  margin-left: 2rem;
  font-size: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-opened .et-content {
  filter: blur(2px);
  -webkit-transition: filter 0.6s ease-in-out;
     -moz-transition: filter 0.6s ease-in-out;
      -ms-transition: filter 0.6s ease-in-out;
       -o-transition: filter 0.6s ease-in-out;
          transition: filter 0.6s ease-in-out;
}
