.grail {

}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav {
  padding: 0;
  height: 133px;
  width: 100%;
  background: #ccffcc;
}

#nav section {

}

#title {
  float: right;
  width: 60%;
  height: 28px;
  margin-top: 12px;
  text-indent: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;
  /*border: none;*/
  border: 2px solid #666;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  /*user-select: text;*/
  cursor: auto;
  padding: 1px;
  outline:none;
}

.sidebar-left, .sidebar-right {
  /* 两个边栏的宽度设为12em */
  flex: 0 0 12em;
}

