
body {
  margin: 0;
  background-color: #333;
  font-family: "Avenir Next", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-weight: 100;
  color: #fff;
}

header {
  text-align: center;
  padding: 10px 20px;
}

#content {
  margin: auto;
  width: 800px;

  margin-bottom: 980px;
}

#content > h3 {
  margin-top: 32px;
}

#content > p {
  /*padding-left: 20px;*/
}

.i-wrap {
  margin: 0 auto;
  /*margin-top: 16px;*/
  text-align: center;
}

/*.i-wrap:before {
  content: '';
  width: 100% !important;
  height: 10px !important;
  margin-top: 40px;
  padding: 10px 10px;
}*/